SpeechRecognition
pyttsx3
pyautogui
psutil
keyboard
mouse
pyaudio
rapidfuzz
pycaw
screen-brightness-control
pygetwindow
pillow
winshell
comtypes
google-generativeai
python-dotenv
pypdf
azure-cognitiveservices-speech
elevenlabs
